.main-menu .list {
    padding-top: 0;
}
.main-menu ion-item.item:first-child {
    border-top: none;
}
.main-menu .heading-item {
    margin: 0;
}
.main-menu .heading-item .item-content {
    padding: 0!important;
    position: relative;
    height: 230px;
}
.main-menu .heading-item .heading-bg {
    position: absolute;
    background-color: rgba(68, 68, 68, .6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.main-menu .heading-item .heading-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 20px;
}
.main-menu .heading-item img {
    width: 100%;
}
.main-menu .heading-item .greeting {
    color: #ccc;
    font-weight: 500;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}

.app_bg1 {
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.app_bg {
    background: url('../img/body-bg.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

/* ----------Start Greet View -----------*/

.greet-view .head-title {
    padding-top: 65px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}


.greet-view h1 {
    font-size: 48px;
    text-shadow: 0 1px 0 #000;
    color: #fff;
    font-weight: 800;
    font-family: "OpenSans", sans-serif;
}

.bottom-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom-content .signup, .bottom-content .signup:hover {
    color: #878787;
    padding: 8px 12px;
    border: 0 none;
}

.bottom-content .login {
  background: #FF5631;
  border: 0 none;
  padding: 8px 12px;
}

.bottom-content .button{
    font-family: "OpenSans", sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
}
/* ----------Greet View  End-----------*/

/* Start Login , ForgotPassword And Registration  Page*/
.form-wrapper {
  text-align: center;
  height: 100%;
  white-space: nowrap;
}
 
.form-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.form-wrapper .header-wrapper{
    position: relative;
    width: 100%;
    background: #fff;
}
.form-wrapper .header-title {
    margin-bottom: 18px;
}
.form-wrapper h2.header-title {
    padding: 8px 0 8px 0;
    background: #A8A8A8;
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.form-wrapper .header-wrapper form {
    padding: 15px;
}

.form-wrapper .header-wrapper .login-button, .register-account .login-button {
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    font-style: italic;
    font-weight: 600;
    padding: 0;
    background: #FF5631;
    min-height: 30px;
    line-height: 31px;
    margin-top: 15px;
    border: 0 none;
}

.form-wrapper .header-wrapper .item-icon-right .icon {
    font-size: 20px;
    right: 0;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
}

.form-wrapper .header-wrapper .item-input:first-child {
    border-width: 0;
    border-style: none;
}

.form-wrapper .header-wrapper label.item-input {
   border-width: 1px 0px 1px 0;
   border-style: solid none none none;
}

.form-wrapper .alternative-actions a.button {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 5px;
    padding-left: 0;
    padding-right: 0;
}

.form-wrapper .alternative-actions span.register-account {
    width: 100%;
    padding: 0 25px;
}
.align-left {
    float: left !important;
}

.form-wrapper input[type="text"], .form-wrapper input[type="password"], .form-wrapper input[type="email"] {
    font-size: 16px;
    margin-bottom: 5px;
}
.align-right {
    float: right !important;
}
.register-view .message,
.login-view .message,
.forgot-password-view .message {
    text-align: center;
    color: #444
}
.register-view .message.error:before,
.login-view .message.error:before,
.forgot-password-view .message.error:before {
   content: '*';
   color: #EF473A;
   text-shadow: 1px 1px 0 rgba(180, 25, 14, .3);
   margin-right: 5px;
   font-size: 20px
}

/*Login , ForgotPassword And Registration  Page End */


/* Start Home */
.main-menu-bg {
    background: url('../img/main_menu_bg.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    float: left;
}

.main-menu a.item-content {
    background: transparent !important;
}
.main-menu .item {
    background: transparent !important;
    border-color: #fff;
    color: #fff;
}

.nav-home-header {
    color: #fff;
    border-color: #00619D;
    background-color: #00619D;
    background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
}
.nav-home-header button.button-clear.button-clear {
    color: #fff;
}


.profile-heading-item a.item-content {
    width: 100%;
    padding: 16px 16px 16px 90px;
    position: relative;
    min-height: 115px;
}

.menu-items a.item-content {
    width: 100%;
    padding: 20px 6px 20px 40px !important;
    position: relative;
    min-height: 75px;
}

.menu-items.last-item {
    margin-bottom: 50px;
}
.menu-items a.item-content span.menu-title {
    margin: 10px 0;
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    background: rgba(0,0,0, 0.4);
    padding: 0 4px;
    color: #fff;
}

.menu-items a.item-content span.menu-icon-border {
    max-width: 30px;
    max-height: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 2%;
    background-color: #43454C;
}
.menu-items a.item-content span.menu-icon-border .icon {
    left: 0;
    font-size: 20px;
    color: #fff;
}

.profile-heading-item .item-content span.image-border {
    position: absolute;
    max-width: 62px;
    max-height: 82px;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    left: 5%;
}

.profile-heading-item .item-content span.image-border img {
    width: 100%;
    height: 100%;
    max-width: 46px;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    top: 14%;
    left: 10%;
}

.profile-heading-item .item-content span.heading-action {
    padding: 20px 0 0 0;
    color: #fff;
    float: left;
    width: 100%;
}
.profile-heading-item .item-content span.heading-action span {
    color: #fff;
    padding: 0 0 4px 0;
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
}

.home-content .post-items-list {
    padding: 20px 5px 20px 52px;
    min-height: 75px;
    width: 100%;
    position: relative;
}

.home-content .post-items-list .icon {
    color: #484448;
}
.home-content .post-items-list span.post-item-thumbnail {
    position: absolute;
    max-width: 36px;
    max-height: 36px;
    width: 100%;
    height: 100%;
    padding: 8px;
    background: #009322;
    color: #fff;
    left: 7px;
    line-height: 22px;
    font-size: 14px;
    text-transform: uppercase;
}

.ionic-refresher-content .icon-pulling,  .ionic-refresher-content .text-pulling{
    color: #fff !important;
}

.home-content .post-items-list span.post-item-content h2 {
    font-size: 15px;
    line-height: 15px;
    color: #000;
}

.home-content .post-items-list span.post-item-content p,
.post-detail-view .post-item-title p {
    font-size: 12px;
    color: #666;
    line-height: 15px;
}
/*Home End*/

/* Start Recent post */
.recent-posts .item.post-item-title {
    padding: 6px 10px 6px 10px;
    background-color: #2D2F35;
    border-radius: 3px;
    color: #fff;
}

.recent-posts .item.post-item-title h2 {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
}
.recent-posts .item.post-item-title p {
    color: #ddd;
}

.font-11 {
    font-size: 11px !important;
    line-height: 14px !important;
}
.recent-posts .post-item-content p {
    color: #666;
    margin-bottom: 10px;
    white-space: normal;
    font-size: 11px ;
    line-height: 14px;
}
.recent-posts .post-item-content div.post-item-content-body {
    white-space: normal;
    font-size: 11px ;
    line-height: 14px;
    color: #666;
    min-height: 30px;
}
.recent-posts .post-item-content {
    padding: 10px;
}
.recent-posts .share-post-item {
    width: 100%;
    float: left;
}
.recent-posts .share-post-item span i.icon {
    font-size: 27px;
    color: #2D2F35;
}
.recent-posts .share-post-item a {
    background-color: #00619D;
    padding: 4px 16px;
    line-height: 14px;
    font-size: 10px;
    min-height: 22px;
    color: #fff;
    border-color: #00619D;
    font-weight: 600;
    margin-top: 3px;
}

.post-detail-view {
    background: #fff;
}

.post-detail-view .post-item-title,
.post-detail-view .item-body {
    padding: 15px 7px 10px 7px;
    
}
.post-detail-view .item-body {
    border: 0 none;
    padding: 0px 7px 5px 7px;
    font-size: 11px;
}
.post-detail-view .item-body img , 
.post-detail-view .item-body audio,
.post-detail-view .item-body iframe,
.post-detail-view .item-body video {
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: inline-block;
}
.post-detail-view ul li {
    font-size: inherit;
}
.post-detail-view .item-body p,  
.post-detail-view ul li ,
post-detail-view a {
    font-size: inherit;
}

.post-detail-view .post-item-share {
    border: 1px solid #454445;
    background: #454445;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    padding: 3px;
    margin-top: 20px;
}
.post-detail-view .post-item-share span {
    width: 50%;
    line-height: 15px;
}
.post-detail-view .post-item-share span a {
    color: #fff;
    padding-left: 15px;
    text-decoration: none;
    font-size: 14px;
}
.post-detail-view .post-item-share span.social-icons{
    text-align: right;
}
.post-detail-view .post-item-share span.social-icons a {
    padding-right: 15px;
    padding-left: 0;
}
/* Recent post End */

/* Start Book marks */
.bookmarks .bookmark-container {
    padding: 8px 16px;
    word-wrap: normal;
}
.bookmarks .bookmark-container h2 {
    margin-bottom: 2px;
    font-size: 16px;
}
.bookmarks .bookmark-container p span, 
.post-item-content p span ,
.post-detail-view .post-item-title p span{
    color: #000;
}
/* Bookmarks End */

.post-view .comments .item .message-content {
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
}
.post-view .comments .item .message-content p {
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
}
.post-view .comments h2 {
    color: #444;
    font-weight: 700;
}
.post-view .comments .comment-date {
    color: #777;
    font-weight: 400;
    font-size: 12px;
}
.post-view .comments .highlighted {
    background-color: #d7f5df;
}
.post-view .new-comment {
    height: 50px;
    background-color: #444;
    background-size: 100% 0;
}
.post-view .new-comment .col {
    padding: 0;
}
.post-view .new-comment .new-comment-message {
    border: 1px solid #1e1e1e;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
}
.post-view .new-comment .button-container {
    text-align: center;
}
.post-view .new-comment .button-container .button.send {
    color: #e6e6e6;
    font-weight: 500;
    font-size: 16px;
}
.bar-footer {
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
    height: 44px;
}
.bar-footer.item-input-inset {
    position: absolute
}
.offline-view,.offline-view ion-content {
    margin: auto 0;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
}


/* Fonts */

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf') format('truetype'),
         url("../fonts/OpenSans.eot") format("eot"),
         url("../fonts/OpenSans.woff") format("woff"),
         url("../fonts/OpenSans.svg") format("svg");
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Extrabold.ttf') format('truetype'),
         url("../fonts/OpenSans-Extrabold.eot") format("eot"),
         url("../fonts/OpenSans-Extrabold.woff") format("woff"),
         url("../fonts/OpenSans-Extrabold.svg") format("svg");
    font-weight: 800;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
         url("../fonts/OpenSans-Semibold.eot") format("eot"),
         url("../fonts/OpenSans-Semibold.woff") format("woff"),
         url("../fonts/OpenSans-Semibold.svg") format("svg");
    font-weight: 600;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype'),
         url("../fonts/OpenSans-SemiboldItalic.eot") format("eot"),
         url("../fonts/OpenSans-SemiboldItalic.woff") format("woff"),
         url("../fonts/OpenSans-SemiboldItalic.svg") format("svg");
    font-weight: 600;
    font-style: italic;
}
