<ion-view view-title="Bookmarks" class="home-content bookmarks main-menu-bg">
    <ion-content>
        <div ng-repeat="post in posts">
            <a class="item post-items-list item-icon-right" ui-sref="app.post({postId : {{post.id}}})" >
                <span ng-style="{{'square' | getRandomTileStyle}}" class="post-item-thumbnail">{{post.title | getTileText: 2}}</span>
                <span class="post-item-content">
                  <h2 >{{post.title}}</h2>
                  <p>Posted {{post.author.name}} <span>{{post.date | parseDate | amTimeAgo}}</span></p>
                </span>
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
        
        <div ng-show="posts && posts.length == 0" class="card">
            <div class="item item-text-wrap">
                No bookmarks found!
            </div>
        </div>

    </ion-content>
</ion-view>
