<ion-view class="forgot-password-view app_bg">
  <ion-content scroll="false">
    <div class="form-wrapper">
      <div class="centered">
        <div class="row padding-top padding-left padding-right">
          <div class="col col-center">
            <div class="header-wrapper">
              <form name="forgot_password_form" novalidate>
                <div class="list ">
                  <label class="item item-input">
                    <input type="email" name="email" placeholder= "Email" ng-model="user.email" required>
                  </label>
                  <button type="submit" class="login-button button button-block button-assertive" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
                    Recover it
                  </button>
                 <p ng-show="error" class="message error">{{error}}</p>
                  <p ng-show="message" class="message">{{message}}</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row padding alternative-actions">
          <span class="action-links col">
            <a class="align-left forgot-password button button-small button-clear" ui-sref="login">
              Login
            </a>
            <a class="align-right sign-up button button-small button-clear" ui-sref="register">
              Sign Up
            </a>
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
