<ion-view class="forgot-password-view">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row form-heading">
      <div class="col col-center">
        <h1 class="form-title">Recover your password</h1>
      </div>
    </div>
    <div class="row form-wrapper">
      <div class="col">
        <form name="forgot_password_form" class="" novalidate>
          <div class="list input-fields">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" name="user_name" ng-model="user.userName" required>
            </label>
            <button type="submit" class="recover button button-positive button-block" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
              Recover it
            </button>
            <p ng-show="error" class="message error">{{error}}</p>
            <p ng-show="message" class="message">{{message}}</p>
          </div>
        </form>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear" ui-sref="login">
            Log In
          </a>
          <a class="sign-up button button-small button-clear" ui-sref="register">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
