<ion-view class="greet-view app_bg" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="head-title stable text-center">
        <h1 class="col">
          <span >Ionicpressapp</span> <br>
        </h1>
        <h4>Sassy Ionic App for your WordPress blog</h4>
      </div>
    </div>
    <div class="bottom-content padding">
      <a class="login button button-block button-assertive" ui-sref="login">
        Log In
      </a>
      <a class="signup button button-block button-stable" ui-sref="register">
        Sign Up
      </a>
    </div>
  </ion-content>
  <ng-include src="'templates/footer.html'"></ng-include>
</ion-view>
