<ion-view class="login-view app_bg">
  <ion-header-bar class="padding  bar bar-header login-header">
    <div  align="center">
      <h3>Ionicpress</h3>
      <h4>Sassy ionic app for your WordPress blog</h4>
    </div>
  </ion-header-bar>
  <ion-content  scroll="false">
    <div class="form-wrapper">
      <div class="centered">
        <div class="row padding-top padding-left padding-right">
          <div class="col col-center">
            <div class="header-wrapper">
              <h2 class="header-title text-center">User login</h2>
              <form name="login_form" novalidate>
                <div class="list ">
                  <label class="item item-input">
                    <input type="text" name="user_name" placeholder= "Username" ng-model="user.userName" required>
                  </label>
                  <label class="item item-input item-icon-right" show-hide-container>
                    <i class="icon ion-eye" on-touch="showPassword = !showPassword"></i>
                    <input type="password" id="password" placeholder="Password" ng-model="user.password" ng-hide="showPassword" required autocomplete="off">
                    <input type="text" id="passwordRaw" placeholder="Password" ng-model="user.password" ng-show="showPassword" autocomplete="off">
                  </label>
                  <button type="submit" class="login-button button button-block button-assertive" ng-click="doLogin()" ng-disabled="login_form.$invalid">
                    Log in
                  </button>
                  <p ng-show="error" class="message error">{{error}}</p>
                  <p ng-show="message" class="message">{{message}}</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row padding alternative-actions">
          <span class="action-links col">
            <a class="align-left forgot-password button button-small button-clear" ui-sref="forgot_password">
              Forgot Password?
            </a>
            <a class="align-right sign-up button button-small button-clear" ui-sref="register">
              Sign Up
            </a>
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
