<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="nav-home-header">
            <ion-nav-back-button class="button-clear">
                <i class="ion-chevron-left"></i> Back
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a class=" button button-icon icon positive ion-search ion-close-circled" ui-sref="app.search"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu class="main-menu main-menu-bg" side="left">
        <ion-content>
            <ion-list>
                <ion-item class="profile-heading-item item " nav-clear menu-close ui-sref="#">
                    <span class="image-border">
                      <img ng-src="{{user.avatar}}">
                    </span>
                    <span class="heading-action">
                      <h2 class="greeting">
                        <span>Hi {{user.data.displayname}}!</span> <br/>
                        <span>Welcome back</span>
                      </h2>
                    </span>                  
                </ion-item>
                <ion-item class="item-icon-left menu-items" menu-close ui-sref="app.home">
                  <span class="menu-icon-border">
                    <i class="icon ion-home"></i>
                  </span>
                  <span class="menu-title">Home</span>
                </ion-item>
                <ion-item class="item-icon-left menu-items" menu-close ui-sref="app.posts">
                  <span class="menu-icon-border">
                    <i class="icon ion-ios-paper"></i>
                  </span>
                  <span class="menu-title">Recent Posts</span>
                    
                </ion-item>
                <ion-item class="item-icon-left menu-items" menu-close ui-sref="app.tags">
                  <span class="menu-icon-border">
                    <i class="icon fa fa-cog"></i>
                  </span>
                    <span class="menu-title">Tags</span>
                </ion-item>
                <ion-item class="item-icon-left menu-items" menu-close ui-sref="app.categories">
                  <span class="menu-icon-border">
                    <i class="icon ion-ios-browsers-outline"></i>
                    </span>
                  <span class="menu-title"> Categories</span>
                </ion-item>
                <ion-item class="item-icon-left menu-items" menu-close ui-sref="app.bookmarks">
                  <span class="menu-icon-border"><i class="icon ion-bookmark"></i></span>
                  <span class="menu-title">Bookmarks</span>
                </ion-item>
                <ion-item class="item-icon-left menu-items last-item" menu-close ui-sref="" ng-click="showLogOutMenu()">
                  <span class="menu-icon-border"><i class="icon ion-power"></i></span>
                  <span class="menu-title">Logout</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
