<ion-view class="post-view post-detail-view main-menu-bg" view-title="{{post.title}}" >
    <ion-content class="padding">
        <div class="list card">
            <div class="item post-item-title">
                <h2>{{post.title}}</h2>
                <p class="font-11">Posted by {{post.author.name}} <span>{{post.date | parseDate | amTimeAgo}}</span></p>
            </div>

            <div class="item item-body">
                <div post-details ng-style="{'font-size': fontSize + 'px'}" ng-bind-html="post.content | rawHtml"></div>
            </div>

            <div class="item post-item-share">
              <span class="align-left">
                <a ng-href="#" ng-click="increase()">A+</a>
                <a ng-href="#" ng-click="decrease()">A-</a>
              </span>
              <span class="align-right social-icons">
                <a class="fblike" ng-click="">
                    <i class="fa fa-thumbs-o-up"></i>
                </a>
                <a class="social-share" ng-click="shareAnywhere()" ng-href="#">
                    <i class="icon ion-android-share-alt"></i>
                </a>
              </span>
            </div>
        </div>
        <div class="comments">
            <div class="list">
                <a class="item item-avatar" ng-repeat="comment in comments" href="#" ng-class="{highlighted: comment.ID === new_comment_id}">
                    <img ng-src="{{comment.user_gravatar}}">
                    <h2  ng-bind-html="comment.author.name"><span class="comment-date" am-time-ago="comment.date"></span></h2>
                    <p class="message-content" ng-bind-html="comment.content"></p>
                </a>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="new-comment post-footer bar bar-footer">
        <form name="comment_form" class="row" novalidate>
            <div class="col col-80 content col-center">
                <input class="new-comment-message" type="text" placeholder="Leave a comment..." ng-model="new_comment" required />
            </div>
            <div class="col col-20 button-container col-center">
                <button class="button button-clear send" type="submit" ng-click="addComment()" ng-disabled="comment_form.$invalid">
                    Send
                </button>
            </div>
        </form>
    </ion-footer-bar>
</ion-view>
