<ion-view view-title="Recent Posts" class="recent-posts" >
    <ion-content class="padding">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div class="list card" ng-repeat="post in posts">

            <div class="item post-item-title">
                <h2 >{{post.title}}</h2>
                <p class="font-11">Posted by {{post.author.name}} {{post.date | parseDate | amTimeAgo}}</p>
            </div>

            <div class="item post-item-content icon-left">
              <div post-details class="post-item-content-body" stop-image-click-event ng-bind-html="post.content | rawHtml"></div>
              <div class="share-post-item">
                <span class="align-left" ng-click="addBookmark('{{post.id}}', '{{post.title}}', '{{post.date}}')" >
                  <i class="icon ion-bookmark" ng-class="{'active': isBookmarked('{{post.id}}') == true}"></i>
                </span>
                <a class="button button-small align-right" ui-sref="app.post({postId : {{post.id}}})">Read more </a>
              </div>
            </div>

        </div>
        <div ng-show="!isLoading && posts && posts.length == 0" class="card">
            <div class="item item-text-wrap">
                No posts found!
            </div>
        </div>

        <!-- Infinite scroll -->
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMorePosts()" distance="1%" icon="ion-loading-c">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
