<ion-view class="register-view app_bg">
  <ion-content scroll="false">
    <div class="form-wrapper">
      <div class="centered">
        <div class="row padding-top padding-left padding-right">
          <div class="col col-center">
            <div class="header-wrapper">
              <h2 class="header-title text-center">User Sign Up</h2>
              <form name="signup_form" novalidate>
                <div class="list ">
                  <label class="item item-input">
                    <input type="text" name="display_name" placeholder="Name" ng-model="user.displayName" required autocomplete="off">
                  </label>
                  <label class="item item-input">
                    <input type="text" name="user_name" placeholder="Username" ng-model="user.userName" required autocomplete="off">
                  </label>
                  <label class="item item-input">
                    <input type="email" name="email" placeholder="Email" ng-model="user.email" required autocomplete="off">
                  </label>
                  <label class="item item-input item-icon-right" show-hide-container>
                    <i class="icon ion-eye" on-touch="showPassword = !showPassword"></i>
                    <input type="password" id="password" placeholder="Password" ng-model="user.password" ng-hide="showPassword" required autocomplete="off">
                    <input type="text" id="passwordRaw" placeholder="Password" ng-model="user.password" ng-show="showPassword" required autocomplete="off">
                  </label>
                  <p ng-show="error" class="message error">{{error}}</p>
                  <p ng-show="message" class="message">{{message}}</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row padding alternative-actions">
          <span class=" col register-account">
            <button type="submit" class="login-button button button-block button-assertive" ng-click="doRegister()" ng-disabled="signup_form.$invalid">Sign Up</button>
          </span>
        </div>
      </div>
    </div>
  </ion-content>
  <ng-include src="'/templates/footer.html'"></ng-include>
</ion-view>
